html body #tarteaucitronRoot.tarteaucitronBeforeVisible{
    z-index: 99999;
    &:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9998;
    }
    #tarteaucitronAlertBig {
        display: flex !important;
        flex-direction: column;
        #tarteaucitronPersonalize, #tarteaucitronPersonalize2,.tarteaucitronCTAButton,.tarteaucitronAllow {
            font-size: 18px !important;
            height: 40px !important;
            border-radius: 10px !important;
            border: 1px solid #F1F0F2;
        }
        button#tarteaucitronPrivacyUrl{
            color: #ADADAD !important;
            text-decoration: underline;
            padding-top: 10px;
            order: 4;
            background: none;
            font-weight: 400;
            font-size: 12px !important;
            margin-top: 5px;
            width: auto;
        }
        #tarteaucitronCloseCross{
            font-size: 1rem !important;
            right: 6px !important;
        }
    }
}

#tarteaucitronPersonalize2 {
    order: 1;
    border-color: transparent;
}

#tarteaucitronPersonalize2:hover {
    opacity: 0.8;
}

#tarteaucitronCloseAlert {
    order: 2;
}

#tarteaucitronAllDenied2 {
    order: 3;
    border-color: #d9dce0;
}

#tarteaucitronPrivacyUrl {

}

#tarteaucitronPrivacyUrl:hover {
    opacity: 0.8;
}

#tarteaucitronRoot button#tarteaucitronCloseAlert {
    font-size: 18px !important;
    height: 40px !important;
    border-radius: 10px !important;
}

#tarteaucitronRoot span#tarteaucitronDisclaimerAlert {
    font-size: 17px !important;
    font-weight: 500 !important;
    margin-top: 20px !important;
}

#tarteaucitronRoot div#tarteaucitronAlertBig:before{
    font-size: 26px !important;
    font-weight: 700 !important;
    padding-top: 20px !important;
}

html body #tarteaucitronRoot div#tarteaucitronAlertBig{
    max-width: 285px !important;
    @media screen and (max-width: 980px){
        max-width: 100% !important;
    }
}

@media screen and (max-width: 600px) {
    #tarteaucitronAlertBig {
        width: 85%;
        padding: 20px 15px;
    }

    #tarteaucitronAlertBig:before {
        font-size: 24px;
    }

    #tarteaucitronDisclaimerAlert {
        font-size: 16px;
    }
}
